# Prisma, supports PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB. 
# Docs: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# https://pris.ly/d/connection-strings

DATABASE_URL="file:./prisma/dev.db"
