:root {
  --font-size: 16px;
  --gap: 1rem;
  --primary-color:rgb(5,7,5);
  --secondary-color: rgb(120, 120, 120);
  --bg-color: #fff;
  --breakpoint: 50rem;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  padding: 0;
  margin: 0;
  display: block;
  font: var(--font-size) var(--font-rubik), Arial, sans-serif;
  background: var(--bg-color);
  color: var(--primary-color);
}

.root-layout {
  min-height: 100vh;
  position: relative; 
  display: flex;
  flex-direction: column;
}


main {
  padding: var(--gap);
}

footer {
  position: absolute;
  bottom: calc(var(--gap) * .25);
  right: calc(var(--gap) * .25);
  color: var(--secondary-color);
  font-size: .75rem;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

input {
  border: 1px solid var(--primary-color);
  border-radius: 0;
  padding: calc(var(--gap) * .25);
}

input::placeholder {
  color: var(--secondary-color);
}
