:root {
  --font-size: 16px;
  --gap: 1rem;
  --primary-color:rgb(5,7,5);
  --secondary-color: rgb(130, 130, 130);
  --bg-color:rgb(250,250,250);
  --bg-secondary-color:rgb(220,220,220);
  --border-color: rgb(200, 200, 200);
  --red: rgb(240, 80, 70);
  --green: rgb(117, 184, 67);
  --blue: rgb(0, 160, 222);
  --breakpoint: 50rem;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  padding: 0;
  margin: 0;
  display: block;
  font: var(--font-size) var(--font-rubik), Arial, sans-serif;
  background: var(--bg-color);
  color: var(--primary-color);
}

.root-layout {
  min-height: 100vh;
  position: relative; 
  display: flex;
  flex-direction: column;
}


main {
  padding: var(--gap);
}

footer {
  position: absolute;
  bottom: calc(var(--gap) * .25);
  right: calc(var(--gap) * .25);
  color: var(--secondary-color);
  font-size: .75rem;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

input {
  border: 1px solid var(--border-color);
  border-radius: 0;
  color: var(--secondary-color);
  padding: calc(var(--gap) * .25);
}

.link-to-beer .symbol {
  font-family: var(--font-segwick);
  font-weight: bold;
  margin-right: .5rem;
}

.link-to-beer i {
  margin-left: .5rem;
}

.link-to-beer .status-icon {
  margin-left: .5rem;
}

.status-icon {
  display: inline-block;
  background-color: var(--secondary-color);
  border-radius: .25rem;
  padding: .125rem .5rem;
  font-size: .75rem;
  color: var(--bg-color);
}

.status-icon.status-2 {
  background-color: var(--blue);
}

.status-icon.status-3 {
  background-color: var(--green);
}

.status-icon.status-4 {
  background-color: var(--red);
}
